#container {  /* 전체 콘텐츠를 감싸는 div */
    margin: 0 auto;
    width: 650px;
    padding: 5px;
    border: 1px solid #222;
}
#check {   /* 텍스트 부분을 감싸는 div */
    width: 640px;
    }		
h1 {
    color: white;
    background: black;
    font-size: 1em;
    margin: 0;
    padding: 10px;
}
h2 {
    color: #f00;
    text-align: center;
    font-size: 1.5em;
}	
p {
    font-size: 1.2em;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
}	
.accent {
    color: #00f;
}
.smalltext {
    font-size: 0.7em;
}