body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

#travel {
    width: 1200px;
    margin: 0 auto;

}


.title-text {
    text-align: center;
}
.title-text h2 {
    font-size: 2.5em;
    color: #999;
}
.title-text p {
    font-size: 1.2em; color: #ccc;
}

.travel-list {
    padding-top: 20px;
}

.travel-card {
    width: 250px;
    height: 340px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 20px;
    float: left;
    border-radius: 20px;
    text-align: center;
}

.travel-card img {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 0.3px solid #eee;
    border-radius: 50%;
}
.travel-card p {
    font-size: 16px;
}