#container {
    max-width: 1000px;
    margin: 20px auto;
    width: 100%;
}
h1 {
    text-align: center;
}
.prod-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.prod-list li {
    padding: 0;
    margin: 10px;
    flex-basis: calc(33.333%-20px);
    position: relative;
    overflow: hidden;
}
.prod-list img {
    width: 100%;
    height: auto;
    z-index: 5;
}
.caption{
    width: 100%;
    height: 200px;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 200px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.prod-list li:hover .caption {
    opacity: 1;
    transform: translateY(-200px);
}

h2, .caption {
    color: white;
}


