#container {
    width: 900px;
    height: 200px;
    margin: 0 auto;
}
.origin {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 40px;
    float: left;
}
.origin > div {
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: 1s;
    opacity: 0.5;
}
#movex:hover {
    transform: translateX(-50px);
}
#moveY:hover {
    transform: translateY(50px);
}
#movexy:hover {
    transform: translate(50px, 50px);
}