.container {
	width: 700px;
	display: grid;
	margin: 20px auto;
	gap: 5px;
	grid-template-areas:
		"box1 box1 box2"
		"box1 box1 box3"
		"box4 box5 box6";
}

.container img {
    width: 100%;
    height: 100%;
}

.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;
}

.box3 {
	grid-area: box3;
}

.box4 {
	grid-area: box4;
}
.box5 {
	grid-area: box5;
}
.box6 {
	grid-area: box6;
}
