.container {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    margin: 0 auto;
    gap: 10px;
}

.box {
    padding: 15px;
    color: black;
    text-align: center;
    opacity: 0.8;
}

.box:nth-of-type(1) {
    background-color: blue;
    grid-column: 1 / -1;
}

.box:nth-of-type(2){
    background-color: orange;
    grid-row: 2 / 4;
}

.box:nth-of-type(3) {
    background-color: pink;
    grid-column: 2 / -1;
}

.box:nth-of-type(4) {
    background-color: yellow;
    grid-column: 2 / -2;
    grid-column-start: 2;
}
.box:nth-of-type(5){
    background-color: red;
    grid-column: 3 -1;
}
